<li class="nav-item big-screen expanded duke-{{ fields.field_article_color.content|striptags|trim }}">
  <a class="nav-link ajax-link" href="{{ fields.view_taxonomy_term.content|render|striptags|trim }}">
    <span class="spacer">{{ fields.name.content|striptags|trim }}</span>
  </a>
</li>