<li class="nav-item accordion-toggle w-100 expanded duke-{{ term_color }} ">
  <div class="nav-link topmenu">
    <div class="go-back d-none">
      <i class="fas fa-angle-left"></i>
      &nbsp;Back
    </div>
    <div class="menuitem d-flex">
      <span class="mr-auto pl-2 spacer">
        {{ title }} 
      </span>
      <i class="rotate-down fas fa-angle-right tertiary-grey1 mr-4"></i>
    </div>
  </div>
  <ul class="menu-submenu accordion-content flex-column nav">
    {% if term_uid == 'clinical_modules' %}
     {{ clinical_modules_menu }}
    {% else %}
      {% for row in rows %}
        {{ row.content }}
      {% endfor %}
    {% endif %}
  </ul>
</li>