<div class="card mb-3">

	<div class="row no-gutters">
		<div class="col-4 col-sm-2 pt-3 pr-3">
			<a class="ajax-link" href="{{ fields.url.content|striptags|trim }}">
				<img src="https://img.youtube.com/vi/{{ youtube_id }}/0.jpg">
			</a>
		</div>
		<div class="col-8 col-sm-8 pt-2">
			<div class="card-body">
				<a class="ajax-link" href="{{ fields.url.content|striptags|trim }}">
					<h5 class="card-title">
						{{ fields.title.content }}
					</h5>
					<p class="card-text">
					{{ fields.field_subtitle.content }}
					</p>
				</a>
				<p class="card-text mt-3">
					<small class="text-muted">
						<a href="{{ fields.path.content|striptags|trim }} ">
							{{ fields.name.content }}
						</a>
					</small>
				</p>
			</div>
		</div>
	</div>
</div>