<option 
    {%- if active_tid == fields.tid.content|striptags|trim %} selected {%- endif %}
    value="{{ fields.view_taxonomy_term.content|render|striptags|trim }}">
    {{ fields.name.content }} 
</option>