<div class="card-parent col-12 col-sm-6 col-md-4 col-lg-3">
	<div class="card">
		<a class="ajax-link" href="{{ fields.view_node.content|striptags|trim }}">
			<div class="card-header">
				<img src="https://img.youtube.com/vi/{{ youtube_id }}/0.jpg">
			</div>
			<div class="card-body">
				<h5 class="card-title">
          {{ fields.title.content }}
				</h5>
				<div class="card-text">
          {{ fields.field_subtitle.content }}
				</div>
			</div>
		</a>
	</div>
</div>