{% if items %}
<ul class="nav flex-column">
  {% for item in items %}
  <li class="nav-item">
    <a href="{{ item.url }}" class="nav-link ajax-link">
      {{ item.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}