{% for item in items %}
  <div class="row mb-1">
    <div class="col-1 d-flex justify-content-end align-items-center px-0">
      <i class="duke-green fas fa-check-circle"></i>
    </div>
    <div class="col-11">
      {{ item.content }}
    </div>
  </div>
{% endfor %}