<div class="duke-bg-blue maintenance">
  <div class="container-fluid p-0 m-0">
    <div class="row">
      <div class="text-white h1 col-12  d-flex">
        <div class="text-center mx-auto header">
          {{ page.content }}
        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="cop-logo mx-auto">
          <a href="/">
            <img src="{{ site_logo }}" alt="" />
            <div>communities of practice</div>
          </a>
        </div>
      </div>
      <div class="col-12 duke-bg-med-blue strip">
        <span></span>
      </div>
    </div>
  </div>
</div>


