<div class="page-body article duke-yellow-page">
	<div class="banner d-xl-none">
    {{ content.field_banner_image }}
	</div>
	<hr class="p-0 m-0 set-bg-color" />

	<div class="breadcrumb d-flex align-items-center duke-bg-blue text-white mb-0">
		<div class="open-menu d-inline-block"><i class="fas fa-home px-1"></i></div>
		<i class="fas fa-angle-right mx-1 "></i>
		<span class="open-menu d-inline-block"> {{ article_category_name }} </span>
	</div>
	<div class="row">
		<div class="d-none d-lg-block col-lg-4 col-xl-3 duke-bg-tertiary-gray2 sidebar">
			<div class="container">
				<ul class="menu-submenu accordion-content flex-column nav">
				{% for node_entry in nodes_in_category %}
					<li class="leaf {%- if node_entry[2] == nid %} active-trail {%- endif %} nav-item">
						<a class="nav-link ajax-link" href="{{ node_entry[1] }}">
							{{ node_entry[0] }}
						</a>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-12 col-lg-8 col-xl-9 py-3 main">
			<div class="container mx-2">
				<div class="row">
					<div class="col-12 text-section-one text-section">
						<h2 class="pb-2">{{ label }}</h2>
						<div>
							<div class="rounded float-md-right pl-2 pb-2 m-1">
                {{ content.field_article_image }}
              </div>
              {{ content.field_first_section }}
						</div>
					</div>
					<div class="col-12 emphasis">
						<div class="col-11 duke-med-blue spacer">
              {{ content.field_emphasis }}
						</div>
					</div>
					<div class="col-12 text-section text-section-two">
						<h2>
              {{ content.field_second_section_title }}
            </h2>
            {{ content.field_second_section }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>