<div class="page-body clinical-module duke-purple-page">
	<hr class="p-0 m-0 set-bg-color" />
	
	<div class="breadcrumb d-flex align-items-center duke-bg-blue text-white mb-0">
		<div class="open-menu d-inline-block"><i class="fas fa-home px-1"></i></div>
		<i class="fas fa-angle-right mx-1 "></i>
		<!-- Get clinical module home page href from grabbing whole menu -->
		<a href="{{ clinical_category_link}}"><span> {{ clinical_category_name }}</span></a>
	</div>
	
	<div class="bg-white container-fluid pl-0 row">
		
		<div class="d-none d-lg-block col-lg-4 col-xl-3 duke-bg-tertiary-gray2 sidebar">
			<div class="container">
				<!-- <ul class="accordion-content flex-column nav">
					{% for node_entry in nodes_in_category %}
					<li class="leaf nav-item">
						<a class="nav-link ajax-link" href="{{ node_entry[1] }}">
							{{ node_entry[0] }}
						</a>
					</li>
					{% endfor %}
				</ul> -->
			</div>
		</div>
		
		<div class="col-12 col-xl-9 main">
			<div class="row pt-3 pb-1">
				<div class="col-12 col-lg-8 rounded p-2 module-header set-bg-color text-white font-weight-bold">
					{{ label }}
				</div>
			</div>
			<div class="row py-3 align-items-center">
				<div class="col-12 col-lg-8">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v=yCcfV3S_iZQ" allowfullscreen>
						</iframe>
						
					</div>
				</div>
				<div class="col-12 col-lg-4 pt-3 pt-lg-0">
					<div class="card duke-bg-tertiary-gray3 rounded shadow">
						<div class="card-body">
							<div class="card-title rounded p-2 h5 duke-bg-purple text-white">
								{{ content.field_subtitle }}
							</div>
							<div class="card-text">
								{{ content.description }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
