{{ page.header }}
{% if show_clinical_module_dashboard %}
<div id="content">
  <div class="page-body clinical-home">
    <hr />
    <div class="breadcrumb align-items-center duke-bg-blue text-white mb-0 mr-auto">
      <div class="mr-auto">
        <div class="open-menu d-inline-block"><i class="fas fa-home px-1"></i></div>
        <i class="fas fa-angle-right mx-1 "></i>
        <span class="open-menu">{{ copdukenursing_8_clinical_module_title }}</span>
        {% if clinical_module_category_name %}
        <i class="d-none d-lg-inline fas fa-angle-right mx-1 "></i>
        <span class="d-none d-lg-inline open-menu">{{ clinical_module_category_name }}</span>
        {% endif %}  
      </div>
      <form class="search form-inline flex-nowrap">
        <input name="search-field" class="form-control" type="text" placeholder="Search Modules" />
        <button class="search-button mx-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <div class="clinical-home">
      <div class="row">
        <div class="col-lg-3  d-none d-lg-block duke-bg-tertiary-gray2 sidebar">
          <div class="container pl-2 pt-3 ">
            <h3 class="mb-3 pb-1">Categories</h3>
            <ul>
              {{ category_list }}
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-9 main">
          <form class="form-inline categories-select row">
            <div class="col-12 d-flex justify-content-end align-items-center">
              <label class="my-1 pr-1" for="inlineFormCustomSelectPref">Category:</label>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                {{ category_select }}
              </select>
            </div>
          </form>
          <div class="my-3 module-list row">
            {{ clinical_module_dashboard }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
  <div id="content">
    {{ page.content }}
  </div>
{% endif %}

{{ page.footer }}