<footer class="duke-bg-blue py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-lg-5 offset-lg-2">
        <div class="cop-logo">
          <!-- <img src="cop-icon.png" alt="" /> -->
          <img src="{{ site_logo }}" alt="" />
          <div>communities of practice</div>
        </div>
        <div class="row text-white">
          {{ content }}
        </div>
      </div>
      <div class="col-12  col-sm-3">
        <div class="navbar-brand d-none d-sm-block">
          <!-- <img src="duke-nursing.png" alt="" /> -->
          <img src="https://nursing.duke.edu/sites/default/files/duke-nursing-logo.png ">
        </div>
        <hr class="d-sm-none" />
        <nav class="nav">
          <a class="nav-link icon" href="{{ copdukenursing_8_facebook_url }}"><i class="fab fa-facebook-square"></i></a>
          <a class="nav-link icon" href="{{ copdukenursing_8_twitter_url }}"><i class="fab fa-twitter-square"></i></a>
          <a class="nav-link icon" href="{{ copdukenursing_8_linkedin_url }}"><i class="fab fa-linkedin"></i></a>
        </nav>
      </div>     
    </div>
  </div>
</footer>