
  <div class="wrapper">
    <nav class="header navbar navbar-dark duke-bg-blue pr-0">
      <div class="row w-100 align-items-center">
        <div class="col-5 order-1 col-md-8 col-lg-2">
          <div class="navbar-brand ">
            <a href="https://nursing.duke.edu">
              <img src="https://nursing.duke.edu/sites/default/files/duke-nursing-logo.png ">
            </a>
          </div>
        </div>
        <div class="col-10 col-lg-7 mt-1 order-3  order-lg-2 d-flex justify-content-lg-center ">
          <div class="cop-logo">
            <a href="/">
              <img src="{{ site_logo }}" alt="" />
              <div>communities of practice</div>
            </a>
          </div>
        </div>
        <div class="d-none d-lg-flex col-6 col-md-3 order-2 order-lg-3 col-lg-2  px-0 justify-content-end">
          <a class="white-button" href="{{ copdukenursing_8_become_a_preceptor_url  }}">
            Become a Preceptor
          </a>
        </div>
        <div class="col-2 col-lg-1 order-4 d-flex justify-content-end">
          <div class="open-menu toggler-icon-wrapper">
            <div class="navbar-toggler-icon"></div>
          </div>
        </div>
      </div>
    </nav>
  </div>




