<div class="overlay">
  <div id="menu-container">
    <div class="navbar-dark duke-bg-blue">
      <div class="row h-100">
        <div class="h-100 col-10 d-flex align-items-center justify-content-center pr-0 pt-3">
          <div class="cop-logo">
            <a href="/">
              <img src="{{ site_logo }}" alt="" />
              <div>communities of practice</div>
            </a>
          </div>
        </div>
        <div class="col-2 px-0">
          <a href="javascript:void()" class="dismiss d-flex h-100 justify-content-center align-items-center">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="search-wrapper">
      <form class="search form-inline flex-nowrap w-100 mx-auto">
        <input class="form-control w-100" type="text" placeholder="Search Clinical Modules" />
        <button class="px-0 mx-0">
          <i class=" fas fa-search"></i>
        </button>
      </form>
    </div>
  {{ content }}
  </div>
</div>